---
import Layout from '../layouts/Layout.astro';

import SectionContainer from '../components/SectionContainer.astro';
import Experience from '../components/Experience.astro';

import Bag from '../components/icons/bag.astro';
import Code from '../components/icons/code.astro';
import TechIcon from '../components/icons/techIcon.astro';
import Aboutme from '../components/icons/about.astro';
import Projects from '../components/Projects.astro';
import Tech from '../components/Tech.astro';
import About from '../components/About.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Portafolio de Anabel Huanca Moreano">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,300&display=swap" rel="stylesheet">
	<main class="px-4">
		<SectionContainer class="py-16 pb-24 md:py-36">
			<Hero/>
		</SectionContainer>
		
		<SectionContainer id="experiencia">
			<h2 class="text-2xl font-bold mb-8 flex gap-x-3 items-center">
				<Bag class="size-7"/>
				Experiencia laboral</h2>
			<Experience/>
		</SectionContainer>

	<SectionContainer>
		<h2 class="text-2xl font-bold mb-8 flex gap-x-3 items-center">
			<Code class="size-7"/>
			Proyectos</h2>
			<Projects/>
	</SectionContainer>

	<SectionContainer>
		<h2 class="text-2xl font-bold mb-8 flex gap-x-3 items-center">
			<Aboutme class="size-7"/>
			Sobre mi</h2>
			<About/>	
	</SectionContainer>

	<SectionContainer>
		<h2 class="text-2xl font-bold mb-8 flex gap-x-3 items-center">
			<TechIcon class="size-6"/>
			Tecnologías</h2>
			<Tech/>
	</SectionContainer>
	</main>
</Layout>