---
const personalImageAlt = "Anabel";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-400 md:flex-row">
  <div class="[&>p]:mb-4 text-pretty order-2 md:order-1">
    <p>
      Soy de Lima, Perú. 
    </p>

    <p>
      Mi objetivo es alcanzar mi máximo potencial y contribuir de manera significativa en cualquier proyecto o equipo en el que participe. Con habilidades avanzadas en maquetación y diseño, junto con una sólida experiencia en el desarrollo de diseños creativos y funcionales, busco aportar soluciones innovadoras y de calidad.
    </p>
  </div>
  
  <img
    width="220"
    height="200"
    src="/perfil.jpg"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 lg:p-2 lg:w-64 rounded-full dark:bg-white/15"
  />
</article>
