---
const personalImageAlt = "Anabel";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-400 md:flex-row">
  <div class="[&>p]:mb-4 text-pretty order-2 md:order-1">
    <p>
      Soy de Lima, Perú, y tengo pasión por la tecnología, el desarrollo web y el diseño UX/UI.
    </p>

    <p>
      Disfruto de los desafíos creativos y tecnológicos, y me esfuerzo por expandir mis conocimientos y habilidades a través de la capacitación y el desarrollo profesional. Mi objetivo es alcanzar mi máximo potencial y contribuir de manera significativa en cualquier proyecto o equipo.
    </p>
  </div>
  
  <img
    width="220"
    height="200"
    src="/perfil.jpg"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 lg:p-2 lg:w-64 rounded-full dark:bg-white/15"
  />
</article>
