---
import  ExperienceItem from "./ExperienceItem.astro";
const experience = [
  {
    company: "JISHU SAC",
    date: "Mayo 2024 - Actualidad",
    title: "Diseñadora UX/UI - Front End",
    description:
    "Responsable del diseño y prototipado interactivo de los proyectos de la empresa, gestionando desde la estructura inicial / wireframes hasta la creación de interfaces."
  }, 
  {
    company: "PROMOLÍDER ORG",
    date: "Octubre 2023 - Enero 2024",
    title: "Practicante Pre Profesional Diseño UX / UI",
    description:
    "Responsable de la creación de wireframes y prototipos interactivos para la aplicación de la empresa, contribuyendo al proceso de diseño y validación de soluciones."
  },
]

---

<ol class="relative border-s border-gray-200 ml-3">
    {
      experience.map((experiencie) => (
        <li class="mb-10 ms-4">
          <ExperienceItem {...experiencie} />
        </li>
      ))
    }
  </ol>

