---
import LinkedinIcon from "../components/icons/linkedin.astro";
import GithubIcon from "../components/icons/github.astro";
---
<footer class="py-8">
    <ul class="flex justify-center gap-10">
        <li class="flex gap-5">
            <a href="https://www.linkedin.com/in/carlos-s-aldazosa/" target="_blank">
                <LinkedinIcon class="size-8 md:size-16 sm:size-10"/>
            </a>

            <a href="https://www.linkedin.com/in/carlos-s-aldazosa/" target="_blank">
            <GithubIcon class="size-8 md:size-16 sm:size-10"/>
        </a>
        </li>
    </ul>

    <p class="mt-8 text-center">© Anabel Huanca 2024. All rights reserved.</p>
</footer>