---
import Linktreeicon from "../components/icons/linktree.astro";
---
<footer class="py-8">
    <a href="https://social-anabelhumor.vercel.app/" target="_blank">
        <Linktreeicon class="size-8 m-auto"/>
    </a>
    <p class="mt-8 text-center text-xs">© Anabel Huanca 2024. Inspired by <a href="https://github.com/midudev" class="hover:underline">Midudev</a>.</p>
</footer>