---
import IllustratorIcon from "../components/icons/illustrator.astro";
import TailwindIcon from "../components/icons/tailwind.astro";
import HtmlIcon from "../components/icons/html.astro";
import CssIcon from "../components/icons/css.astro";
import JsIcon from "../components/icons/js.astro";
import ReactIcon from "./icons/react.astro";
import AstroIcon from "./icons/astroicon.astro";
import FigmaIcon from "./icons/figma.astro";
import WordpressIcon from "./icons/wordpress.astro";
import NodeIcon from "./icons/node.astro";
import BootstrapIcon from "./icons/bootstrap.astro";
import VscodeIcon from "./icons/vscode.astro";
import GitIcon from "./icons/git.astro";
import MysqlIcon from "./icons/mysql.astro";
import ViteIcon from "./icons/vite.astro";
import SvelteIcon from "./icons/Svelte.astro";
import PostmanIcon from "./icons/postman.astro";
import PhpIcon from "./icons/php.astro";

---

<article class="grid gap-6">
    <div class="flex flex-wrap justify-center gap-4 my-5">
        <HtmlIcon class="size-12 " />
        <CssIcon class="size-12 " />
        <JsIcon class="size-10" />
        <TailwindIcon class="size-10" />
        <BootstrapIcon class="size-10" />
        <ReactIcon class="size-10" />
        <ViteIcon class="size-10" /> 
        <SvelteIcon class="size-10" />
        <AstroIcon class="size-10" />
        <NodeIcon class="size-10" />
        <PostmanIcon class="size-10" />
        <GitIcon class="size-10" />
        <MysqlIcon class="size-10" />
        <PhpIcon class="size-10" />
        <WordpressIcon class="size-10" />
        <FigmaIcon class="size-10" />
        <IllustratorIcon class="size-10" />
    </div>
</article>
