---
import Footer from "../components/Footer.astro";
import Header from "../components/header.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="author" content="anabelHumor">
		<meta name="description" content="Portfolio de anabelhumor" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Portafolio de Anabel Huanca Moreano - anabelhumor">
		<link rel="icon" type="image/svg+xml" href="perfil.jpg" />
		<title>{title}</title>
	</head>
	<body>
		<Header/>
		<slot />
		<Footer/>
	</body>
</html>
<style is:global>
 	:root {
		color-scheme: light dark;
		--primary: #4154f1;
		--secondary: #6E6D8F;
	}

	*{
		box-sizing: border-box;
	}

	html {
  	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
	background: linear-gradient( 90deg, #19376DB2 0%,
    #04152D 100%);
	}
	
	body{
		display: flex;
		flex-direction: column;
		height: 100vh;
	}

	h3{
		color: var(--primary);
	}
	
	strong{
		color: var(--primary);
	}

	.time{
		color: var(--secondary);
		font-weight: bold;
	}

	@media (prefers-reduce-motion: reduce) {
		html{
			scroll-behavior: auto;
		}
	}
</style>
